<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <div class="grid">
          <div class="row">
            <div class="column">
                <h1><%= topic.title %></h1>
            </div>            
            <% if(currentUser) { %>
              <div class="column mr-auto">
                <a href="/topics/<%= topic.id %>/posts/new" class="btn btn-primary">+ Add Post</a>
              </div>
              <div class="column ml-auto">
                <% if(currentUser.isAdmin()) { %>
                  <a href="/topics/<%= topic.id %>/edit" class="btn btn-secondary">Edit topic</a>
                  <form style="display:initial" action="/topics/<%= topic.id %>/destroy" method="post">
                    <button type="submit" class="btn btn-secondary">Delete topic</button>
                  </form>
                <% } %>
              </div>
            <% } %>
          </div>
          <div class="row topic-desc">
                <%= topic.description %>
          </div>
          <div class="row post-list">
            <% topic.posts.forEach((post) => { %>
              <div class="post-card">
                <a href="/topics/<%= topic.id %>/posts/<%= post.id %>"> <%= post.title %> </a>
              </div>
            <% }) %>
          </div>
      </div>

    </main>

  </body>
</html>