<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <div class="grid">
          <div class="row">
            <div class="column" style="display: flex; align-items:center;">
              <% if(currentUser) { %>
                <% include ../votes/voting.ejs %>
              <% } %>
            </div>
            <div class="column">
              <h1><%= post.title %></h1>
            </div>
            <div class="column ml-auto">
              <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-secondary">Edit</a>
              <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy" method="post">
                <button type="submit" class="btn btn-secondary">Delete</button>
              </form>
              <% if(currentUser) { %>
                <% include ../favorites/favoriting.ejs %>
              <% } %>
            </div>
          </div>
          <div class="row">
              <p><%= post.body %></p>
          </div>
          <div class="row">
            
              <% if(currentUser) { %>
                <% include ../comments/new.ejs %>
              <% } %>
              
              <% if(post.comments) { %>
                <% post.comments.forEach((comment) => { %>
                  <%- include("../comments/show.ejs", {comment}) %>
                <% }) %>
              <% } %>
          </div>  
      </div>
    </main>

    
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>